.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 50px; /* This adds padding to both sides */
}

.logo-section {
  text-align: left; /* Ensures the text is aligned to the left */
}

.logo {
  font-size: 36px; /* Adjust the size as needed */
  font-weight: bold; /* Makes the logo text bold */
  /* Add other styling for the logo as needed */
}

.logo-subtext {
  /* TODO: Add styling for the subtext as needed */
}

.login-form {
  width: 300px;
  margin-right: 10%; /* This adds a 10% margin to the right of the form */
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.input-container {
  width: 100%; /* Full width of the form */
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%; /* Full width of the container */
  padding: 10px;
  margin-bottom: 20px; /* Space between inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%; /* Full width of the container */
  padding: 10px;
  background-color: #484770;
  border-radius: 9px;
  box-shadow: 0px 4px 61px #4d47c366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #303067;
}

.switch-container {
  margin: 20px 0;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Add any other styles as needed */
