/* Base Styles */
.dashboard-container {
  margin-left: calc(16% + 5px);
  margin-right: calc(0% + 10px);
  margin-top: calc(1%);
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 20px;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease; /* Smooth transition for any changes */
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  gap: 20px;
  align-items: flex-start; /* Add this line so cards align with the sidebar */
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border: none;
  border-radius: 12px;
  padding: 10px;
  background: linear-gradient(to right bottom, #ffffff, #f3f4f6);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}


.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.patient-list {
  flex: 3;
}

.schedule {
  flex: 1;
}

.patient-list-content {
  flex-grow: 1;
  overflow-y: auto;
}

.patient-list-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #9575cd;
  color: white;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.patient-list-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.patient-list-content li {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #eaecef;
  transition: background-color 0.2s;
}

.patient-list-content li:hover {
  background-color: #e9ecef;
  border-left: 4px solid #9575cd;
}

/* Typography */
.patient-list-content {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-content {
    margin-left: calc(0% + 0px); /* Adjusted to create a balanced layout */
    margin-top: calc(0% + 1px); /* Adjusted to create a balanced layout */
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; /* aligns the items at the start of the container */
    width: 100%; /* sets the width to 100% */
  }

  .dashboard-card {
    width: 100%; /* sets the width to 100% */
    padding: 15px;
  }

  .patient-list-content {
    font-size: 14px;
  }

  .patient-list-footer {
    flex-direction: column;
    gap: 10px;
  }
}
