.dashboard-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 0; /* Remove bottom margin */
}

.dashboard-content {
  display: flex;
  flex-direction: row; /* Stack the cards vertically */
  width: 100%;
  max-width: 1200px; /* Maximum width of the content area */
  height: 100%;
  gap: 20px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* Cards will grow to take up available space */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between cards */
}

.patient-list {
  flex: 3;
}

.schedule {
  flex: 1;
}

.patient-list-content {
  flex-grow: 1; /* Allows the content to grow and push the buttons down */
  /* Style for your patient list content */
}

.patient-list-footer {
  display: flex;
  justify-content: space-evenly; /* This will space out the buttons evenly */
  padding-top: 20px; /* Add padding between content and buttons */
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #a382d5; /* Match your sidebar color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #9170c2; /* A slightly darker shade for the hover effect */
}

/* Your @media query and other styles remain the same */
